
@media only screen and (min-width: 1200px) {
    /* Animations */
    /*Transition for first sub content*/
    @-webkit-keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            -webkit-transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-160%,-120%) rotate(360deg) scale(.7);
        }
    }
    @keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-160%,-120%) rotate(360deg) scale(.7);
        }
    }

    .testAnim{
        -webkit-animation: first .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: first;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
        animation-iteration-count:1;

    }
    /*Transition for the second contet*/
    @-webkit-keyframes second {
        from {
            -webkit-transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-290.5%,16%) rotate(360deg) scale(.7) ;
        }
    }
    @keyframes second {
        from {
            transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-290.5%,16%) rotate(360deg) scale(.7) ;
        }
    }
    .testAnim2{
        -webkit-animation: second .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: second;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;

    }
    /*Transition for the Third contet*/
    @-webkit-keyframes third {
        from {
            -webkit-transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-420.5%,27%) rotate(360deg) scale(.7);
        }
    }
    @keyframes third {
        from {
            transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-420.5%,27%) rotate(360deg) scale(.7);
        }
    }

    .testAnim3{
        -webkit-animation: third .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: third;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for the Forth contet*/
    @-webkit-keyframes fourth{
        from{
            -webkit-transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-122.5%,10%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fourth{
        from{
            transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-122.5%,-15%) rotate(360deg) scale(.7);
        }
    }

    .testAnim4{

        animation-name: fourth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        -webkit-animation: fourth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-iteration-count:1;
    }

    /*Transition for the Fifth contet*/
    @-webkit-keyframes fifth {
        from{
            -webkit-transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-447.5%,50%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fifth {
        from{
            transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-447.5%,50%) rotate(360deg) scale(.7);
        }
    }
    .testAnim5{
        -webkit-animation: fifth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: fifth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for sixth sub content*/
    @-webkit-keyframes sixth {
        from{
            -webkit-transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-210%,45%) rotate(360deg) scale(.7);
        }
    }
    @keyframes sixth {
        from{
            transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-210%,45%) rotate(360deg) scale(.7);
        }
    }
    .testAnim6{
        -webkit-animation: sixth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: sixth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for Seventh sub content*/
    @-webkit-keyframes seventh {
        from{
            -webkit-transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-347%,125%) rotate(360deg) scale(.7);
        }
    }
    @keyframes seventh {
        from{
            transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-347%,125%) rotate(360deg) scale(.7);
        }
    }
    .testAnim7{
        -webkit-animation: seventh .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: seventh;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /* /Animations */
}
@media only screen and (min-width: 992px) and  (max-width: 1199px) {
    /*Transition for first sub content*/
    @-webkit-keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            -webkit-transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-400%,-80%) rotate(360deg) scale(.7);
        }
    }
    @keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-400%,-80%) rotate(360deg) scale(.7);
        }
    }

    .testAnim{
        -webkit-animation: first .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: first;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
        animation-iteration-count:1;

    }
    /*Transition for the second contet*/
    @-webkit-keyframes second {
        from {
            -webkit-transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-531.5%,56%) rotate(360deg) scale(.7) ;
        }
    }
    @keyframes second {
        from {
            transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-531.5%,56%) rotate(360deg) scale(.7) ;
        }
    }
    .testAnim2{
        -webkit-animation: second .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: second;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;

    }
    /*Transition for the Third contet*/
    @-webkit-keyframes third {
        from {
            -webkit-transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-660.5%,65%) rotate(360deg) scale(.7);
        }
    }
    @keyframes third {
        from {
            transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-660.5%,65%) rotate(360deg) scale(.7);
        }
    }

    .testAnim3{
        -webkit-animation: third .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: third;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for the Forth contet*/
    @-webkit-keyframes fourth{
        from{
            -webkit-transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-362.5%,18%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fourth{
        from{
            transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-362.5%,18%) rotate(360deg) scale(.7);
        }
    }

    .testAnim4{

        animation-name: fourth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        -webkit-animation: fourth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-iteration-count:1;
    }

    /*Transition for the Fifth contet*/
    @-webkit-keyframes fifth {
        from{
            -webkit-transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-687.5%,80%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fifth {
        from{
            transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-687.5%,80%) rotate(360deg) scale(.7);
        }
    }
    .testAnim5{
        -webkit-animation: fifth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: fifth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for sixth sub content*/
    @-webkit-keyframes sixth {
        from{
            -webkit-transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-450%,70%) rotate(360deg) scale(.7);
        }
    }
    @keyframes sixth {
        from{
            transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-450%,70%) rotate(360deg) scale(.7);
        }
    }
    .testAnim6{
        -webkit-animation: sixth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: sixth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for Seventh sub content*/
    @-webkit-keyframes seventh {
        from{
            -webkit-transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-585%,145%) rotate(360deg) scale(.7);
        }
    }
    @keyframes seventh {
        from{
            transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-585%,145%) rotate(360deg) scale(.7);
        }
    }
    .testAnim7{
        -webkit-animation: seventh .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: seventh;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }

}
@media only screen and (min-width: 768px) and  (max-width: 991px) {
    /*Transition for first sub content*/
    @-webkit-keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            -webkit-transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-250%,-1%) rotate(360deg) scale(.7);
        }
    }
    @keyframes first {
        /*0% {
            -webkit-transform:translate(-250px,-100px);
            /*-webkit-transform:translate(-250px,-60px);
        } */
        from {
            transform:translate(-70%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-250%,-1%) rotate(360deg) scale(.7);
        }
    }

    .testAnim{
        -webkit-animation: first .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: first;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
        animation-iteration-count:1;

    }
    /*Transition for the second contet*/
    @-webkit-keyframes second {
        from {
            -webkit-transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-381.5%,1%) rotate(360deg) scale(.7) ;
        }
    }
    @keyframes second {
        from {
            transform:translate(-80%,-30%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-381.5%,1%) rotate(360deg) scale(.7) ;
        }
    }
    .testAnim2{
        -webkit-animation: second .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: second;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;

    }
    /*Transition for the Third contet*/
    @-webkit-keyframes third {
        from {
            -webkit-transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-510.5%,65%) rotate(360deg) scale(.7);
        }
    }
    @keyframes third {
        from {
            transform:translate(-90%,-50%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-510.5%,65%) rotate(360deg) scale(.7);
        }
    }

    .testAnim3{
        -webkit-animation: third .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: third;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for the Forth contet*/
    @-webkit-keyframes fourth{
        from{
            -webkit-transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-212.5%,18%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fourth{
        from{
            transform:translate(-10%,-20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-212.5%,18%) rotate(360deg) scale(.7);
        }
    }

    .testAnim4{

        animation-name: fourth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        -webkit-animation: fourth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-iteration-count:1;
    }

    /*Transition for the Fifth contet*/
    @-webkit-keyframes fifth {
        from{
            -webkit-transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-537.5%,80%) rotate(360deg) scale(.7);
        }
    }
    @keyframes fifth {
        from{
            transform:translate(-90%,0%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-537.5%,80%) rotate(360deg) scale(.7);
        }
    }
    .testAnim5{
        -webkit-animation: fifth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: fifth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for sixth sub content*/
    @-webkit-keyframes sixth {
        from{
            -webkit-transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            -webkit-transform:translate(-300%,70%) rotate(360deg) scale(.7);
        }
    }
    @keyframes sixth {
        from{
            transform:translate(-70%,10%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to {
            transform:translate(-300%,70%) rotate(360deg) scale(.7);
        }
    }
    .testAnim6{
        -webkit-animation: sixth .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: sixth;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
    /*Transition for Seventh sub content*/
    @-webkit-keyframes seventh {
        from{
            -webkit-transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            -webkit-transform:translate(-435%,145%) rotate(360deg) scale(.7);
        }
    }
    @keyframes seventh {
        from{
            transform:translate(-70%,20%) rotate(60deg);
            /*-webkit-transform:translate(-250px,-60px);*/
        }
        to{
            transform:translate(-435%,145%) rotate(360deg) scale(.7);
        }
    }
    .testAnim7{
        -webkit-animation: seventh .5s ease-in ;
        -webkit-animation-fill-mode: forwards;
        animation-name: seventh;
        animation-duration: .5s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count:1;
    }
}
/*!*Transition for first sub content*!
@-webkit-keyframes first { 
    !*0% {
        -webkit-transform:translate(-250px,-100px);
		!*-webkit-transform:translate(-250px,-60px);
    } *!
   from { 
        -webkit-transform:translate(-70%,-30%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to { 
        -webkit-transform:translate(-160%,-120%) rotate(360deg) scale(.7);
    } 
} 
@keyframes first { 
    !*0% {
        -webkit-transform:translate(-250px,-100px);
		!*-webkit-transform:translate(-250px,-60px);
    } *!
   from { 
        transform:translate(-70%,-30%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to { 
        transform:translate(-160%,-120%) rotate(360deg) scale(.7);
    } 
} 

.testAnim{
-webkit-animation: first .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
     animation-name: first;
     animation-duration: .5s;
	 animation-fill-mode: forwards;
    transition-timing-function: ease-in;
	animation-iteration-count:1;
	
}
!*Transition for the second contet*!
@-webkit-keyframes second { 
  from { 
        -webkit-transform:translate(-80%,-30%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
   to{ 
        -webkit-transform:translate(-290.5%,16%) rotate(360deg) scale(.7) ;
    } 
} 
@keyframes second { 
  from { 
        transform:translate(-80%,-30%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
   to{ 
        transform:translate(-290.5%,16%) rotate(360deg) scale(.7) ;
    } 
} 
.testAnim2{
-webkit-animation: second .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
     animation-name: second;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 animation-iteration-count:1;
    
}
!*Transition for the Third contet*!
@-webkit-keyframes third { 
   from { 
        -webkit-transform:translate(-90%,-50%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
  to{ 
        -webkit-transform:translate(-420.5%,27%) rotate(360deg) scale(.7);
    } 
} 
@keyframes third { 
   from { 
        transform:translate(-90%,-50%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
  to{ 
        transform:translate(-420.5%,27%) rotate(360deg) scale(.7);
    } 
} 

.testAnim3{
-webkit-animation: third .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
     animation-name: third;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 animation-iteration-count:1;
}
!*Transition for the Forth contet*!
@-webkit-keyframes fourth{ 
   from{ 
        -webkit-transform:translate(-10%,-20%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
   to { 
         -webkit-transform:translate(-122.5%,10%) rotate(360deg) scale(.7);
    } 
}
@keyframes fourth{ 
   from{ 
        transform:translate(-10%,-20%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
   to { 
         transform:translate(-122.5%,-15%) rotate(360deg) scale(.7);
    } 
} 

.testAnim4{

animation-name: fourth;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 -webkit-animation: fourth .5s ease-in ; 
     -webkit-animation-fill-mode: forwards;
	 animation-iteration-count:1;
}

!*Transition for the Fifth contet*!
@-webkit-keyframes fifth { 
    from{ 
        -webkit-transform:translate(-90%,0%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to{ 
        -webkit-transform:translate(-447.5%,50%) rotate(360deg) scale(.7);
    } 
} 
@keyframes fifth { 
    from{ 
        transform:translate(-90%,0%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to{ 
        transform:translate(-447.5%,50%) rotate(360deg) scale(.7);
    } 
} 
.testAnim5{
-webkit-animation: fifth .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
animation-name: fifth;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 animation-iteration-count:1;
}
!*Transition for sixth sub content*!
@-webkit-keyframes sixth { 
    from{ 
        -webkit-transform:translate(-70%,10%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to { 
        -webkit-transform:translate(-210%,45%) rotate(360deg) scale(.7);
    } 
} 
@keyframes sixth { 
    from{ 
        transform:translate(-70%,10%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to { 
        transform:translate(-210%,45%) rotate(360deg) scale(.7);
    } 
}
.testAnim6{
-webkit-animation: sixth .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
animation-name: sixth;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 animation-iteration-count:1;
}
!*Transition for Seventh sub content*!
@-webkit-keyframes seventh { 
   from{ 
        -webkit-transform:translate(-70%,20%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to{ 
        -webkit-transform:translate(-347%,125%) rotate(360deg) scale(.7);
    } 
} 
@keyframes seventh { 
   from{ 
        transform:translate(-70%,20%) rotate(60deg);
		!*-webkit-transform:translate(-250px,-60px);*!
    } 
    to{ 
        transform:translate(-347%,125%) rotate(360deg) scale(.7);
    } 
} 
.testAnim7{
-webkit-animation: seventh .5s ease-in ; 
-webkit-animation-fill-mode: forwards;
animation-name: seventh;
     animation-duration: .5s;
	 transition-timing-function: ease-in;
	 animation-fill-mode: forwards;
	 animation-iteration-count:1;
}*/
