.animated { 
   -webkit-animation-name: bounceIn 4s linear; 
   
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.9); 
		
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 
@-webkit-keyframes activeRoundAnim { 
   from{
   -webkit-transform: scale(.9); 
   }
   to{
   -webkit-transform: scale(1); 
   }
} 

.activeRound{
-webkit-animation:activeRoundAnim 1s  linear;
-webkit-transform: scale(2,3); 
transform: scale(1.1);
}
.cont_looper{
 background-image:none !imporatant;
} 

#container{
width: 400px;
  height: 400px;
  border-radius: 210px;
  background-image: url(images/arminologo1.png);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: left 130px center;
  float: left;
  margin-left: 219px;
  margin-top: 3%;

}
@-webkit-keyframes containerloop{
  from{-webkit-transform:rotate(0deg);}
   to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes containerloop{
  from{-moz-transform:rotate(0deg);}
   to{-moz-transform:rotate(360deg);}
}
@-moz-keyframes containerloop{
  from{-moz-transform:rotate(0deg);}
   to{-moz-transform:rotate(360deg);}
}
@keyframes containerloop {
from{transform:rotate(0deg);}
   to{-transform:rotate(360deg);}
}

/*end*/

#subcontainer{
  width: 300px;
  height: 300px;
  margin-left: 50px;
  float:left;
  margin-top: 50px;
  border-radius: 243px;
  border: 3px dotted  #ffffff;
}
.subcontlooper{
	-webkit-animation:subcontainerloop 120s infinite;
	 animation-name: subcontainerloop;
     animation-duration: 120s;
     animation-iteration-count: infinite;
	 
}


@-webkit-keyframes subcontainerloop{
  from{-webkit-transform:rotate(360deg);}
   to{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes subcontainerloop{
  from{ -moz-transform:rotate(360deg);}
   to{-moz-transform:rotate(0deg);}
}
@keyframes subcontainerloop{
  from{transform:rotate(360deg);}
   to{transform:rotate(0deg);}
}

.sub{
  width: 90px;
  height: 90px;
  float: left;
  border: 2px solid  #ffffff;
  border-radius: 170px;
  cursor: pointer;
}

.subrotator{
	-webkit-animation: moobro 120s infinite; 
    animation-name: moobro;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}
.sub1{
 background-image: url(images/intelligence11.png);
  background-position: -10px -8px;
background-size: 109px auto;
margin-left: -8px;
margin-top: 8px;
}
.sub2{
  background-image: url(images/weather1.png);
  background-size: 104px auto;
background-position: -8px -7px;
margin-top: -44px;
margin-left: 28px;
}
.sub3{
   background-image: url(images/connectivity1.png);
  background-size: 99px auto;
background-position: -3px -2px;
margin-left: 26px;
margin-top: 18px;

}
.sub4{
 background-image: url(images/powersaving1.png);
  background-size: 105px auto;
background-position: -7px -6px;
margin-left: -43px;
margin-top: 8px;

}
.sub5{
  background-image: url(images/security1.png);
  background-size: 105px auto;
background-position: -8px -7px;
margin-top: 23px;
margin-right: 3px;

}.sub6{

  background-image: url(images/Media1.png);
  background-size: 103px auto;
background-position: -6px -7px;
margin-left: 35px;
margin-top: -9px;

}
.sub7{
background-image: url(images/lighting221.png);
 background-size: 104px auto;
background-position: -8px -6px;
margin-top: -4px;
margin-left: 32px;
}

@-webkit-keyframes moobro{
   from{-webkit-transform:rotate(0deg);}
   to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes moobro{
   from{-moz-transform:rotate(0deg);}
   to{-moz-transform:rotate(360deg);}
}
@keyframes moobro{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}
#slidercont{
  float: left;
  width: 766px;
  height: 402px;
  background: red;
  background-image:url(images/galaxy1.jpg);
  -webkit-animation:slideranimation 10s infinite linear;
  
}
@-webkit-keyframes slideranimation{
    0%{background-position:1366px;}
	100%{background-position:0px;}

}
#plane{


  height: 80px;
  width: auto;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2000;
 
  -webkit-animation: planeanim 4s infinite ease-in-out;
}
@-webkit-keyframes planeanim{
	0%{top:31%;}
	50%{top:38%;}
	100%{top:31%;}
}
#head{
width: 100%;
  float: left;
  height: 97px;
  background-color: rgb(33, 42, 63);

}


body{
/*background-image:url(images/bkground.jpg);*/
background-size:100%;
background-repeat:no repeat;
font-family: 'Lato', Calibri, Arial, sans-serif;
}





///////////////////////////
/*place holder area*/
::-webkit-input-placeholder {
   color: #D74D2F;
   padding-left:2%;
}

:-moz-placeholder { /* Firefox 18- */
   color: #D74D2F; 
 padding-left:2%;   
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #D74D2F;  
    padding-left:2%;
}

:-ms-input-placeholder {  
   color: #D74D2F;  
    padding-left:2%;
}



li{list-style:none}

.nav_menu{
  float: right;
  margin: 4% 0% 0% 0%;

}
.nav_menu ul{float:right;}
.nav_menu li{
list-style:none;
display:inline;
  margin-right: 31px;

}
.nav_menu li a{
color:#ffffff;
text-decoration:none;
}
.contener_left{
  /*float: left;*/
  float: right;
  width: 53%;
 
}
/*.contener_left input[type=email]
{
  background-color: rgba(0, 0, 0, -0.5);
  border: 2px solid white;
  height: 25px;
  width: 180px;
  padding-left: 2%;
  color:white;
}*/
.contener_left input[type=email]{
  background-color: rgba(0, 0, 0, -0.5);
  border: 2px solid white;
  height: 25px;
  width: 180px;
  padding-left: 2%;
  color: white;
  padding-bottom: 2.8px;
  border-radius: 0px !important;
}
.hohBx{
width: 376px !important;
  border: 2px dotted white;
  line-height: 175px;
  background-color: rgba(221, 214, 214, 0.2);
  height: 106px;
  height: 120px;
  color: white;
  padding-top: 4px;
  /**/
  margin-right: 44px;
}

.hohBx span{  margin-left: 17px;}

.homeBx{
  background-image: url(images/home1.png);
 
}
.officeBx{
  background-image: url(images/OFFICE1.png);
 
}
.hotelBx{
  background-image: url(images/hotels1.png);
 
}
.sideBx{
   background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background-size: 79px;
  float: left;
  margin: 8px;
}
.hsptlBx{
background-image: url(images/portfolio/5.png);
}
.autofirst{
   color: #B69E46;
  font-weight: 500;
  text-shadow: 0px 0px 0px 0px;
  text-shadow: 2px 1px 1px #474747;
  font-size: 17px;
  font-family: sans-serif;

}
.autoSec{
  color: #C8B057;
  font-size: 50px;
  background: -webkit-linear-gradient(#CCB563,#AA9543);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
}
.demoBx{
float: left;
  margin-top: 74px;
  color: white;
  width: 481px;
  height: 31px;
  border:1px dashed rgb(247, 120, 14);
  padding-top: 1px;
  text-align: center;
  margin-left: -48px;

  /* font-stretch: condensed; */
  letter-spacing: 9px;
  font-size: 20px;
}
/*button area*/
.myButton {
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);*/
	background-color:#000000;;
	display:inline-block;
	cursor:pointer;
	color:#faf2fa;
	font-family:Arial;
	font-size:13px;
	margin-left: -7px;
     height: 25px;
	border: 2px solid white;
	border-left: 2px;
	/*padding:6px 24px;*/
	text-decoration:none;
	vertical-align: top;
	border-radius: 0px !important;
}

.myButton:hover {
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
	*/
	background-color:green;
	
}
.myButton:active {
	/*position:relative;*/
	top:1px;
}
/* teastimonial part */
.tesimonial{
  width: 100%;
  float: left;
  color: #fff;
}
h1.testimonial {
  margin: 10px 0px;
  color: white;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
}
h2.testimonial  {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3.testimonial {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
h4.testimonial  {
  margin: 0px 0px 10px;
  padding-top: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  
  text-align: center;
}
h5.testimonial  {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6.testimonial {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p.testimonial  {
  margin-bottom: 5px;
  color: #d6d6d6;
  text-align: left;
}
p.testimonial1  {
  margin-bottom: 5px;
  color: #d6d6d6;
  /*text-align: left;*/
}
.center_text{
  text-align: center
}
/*to compact with style.css*/
p {
  margin-bottom: 5px;
  color: #d6d6d6;
  text-align: left;
}
h3.nextstyle{
  margin: 10px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;}
  h4.nextstyle{
  margin: 0px 0px 10px;
  padding-top: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  text-align: center;
  }
  .parlex9-back2 {
  background-color: rgba(0, 0, 0, 0.58);
}
.arrow{

  width: 100%;
  color: white;
  /* float: left; */
  /* top: 58%; */
  /* margin-left: 51%; */
  float: left;
  /* top: 13%; */
  margin-top: 1%;
  text-align: center;
}