.animation_main_box{
  width: 80%;
  float: left;
  margin-left: 17%;
  margin-top: -25%;

} 

 .anim_header{
    color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 0px 0px black;
  text-shadow: 3px 2px 2px #000000;
  /* text-rendering: initial; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;  
  /**/
    margin-bottom: 11px;
  float: left;
  width: 100%;
  }
  .list_ul{
      color: #ffffff;
  font-family: sans-serif;
  letter-spacing: 3px;
    font-size: 15px;

  }
  .list_ul li{
  
    /*padding-bottom: 6%;*/

  }
  .list_ul  img{
      width: 38px;
    height:auto;
  }
  .list_ul span{
   float:left;
  }
 .list_ul  div {
    clear: both;
  width: 517px;
  float: left;
  }
  .listDiv :nth-child(2) {
       margin-top: 4%;
  margin-left: 3%;
}
.leftanimationOne{
 -webkit-animation: leftanimBox 1s ease-in ; 
 margin-top: 10px;
/* -webkit-animation-fill-mode: forwards;*/
 /*-webkit-animation-delay: s; /* Chrome, Safari, Opera */
  /*  animation-delay: 2s;*/

}
.rightanimationOne{
 -webkit-animation: rightanimBox 1s ease-in ; 

}
@-webkit-keyframes leftanimBox{
from { 
        -webkit-transform:translate(-100%,100%) ;
		/*-webkit-transform:translate(-250px,-60px);*/
    } 
    to { 
        -webkit-transform:translate(0%,0%) ;
    }
}
@-webkit-keyframes rightanimBox{
from { 
        -webkit-transform:translate(100%,300%) ;
		/*-webkit-transform:translate(-250px,-60px);*/
    } 
    to { 
        -webkit-transform:translate(0%,0%) ;
    }
}